@media (min-height: 50px) {
  .voffset-xs-1 {
    margin-top: 5px;
  }
  .voffset-xs-2 {
    margin-top: 10px;
  }
  .voffset-xs-3 {
    margin-top: 15px;
  }
  .voffset-xs-4 {
    margin-top: 30px;
  }
  .voffset-xs-5 {
    margin-top: 40px;
  }
  .voffset-xs-6 {
    margin-top: 60px;
  }
  .voffset-xs-7 {
    margin-top: 80px;
  }
  .voffset-xs-8 {
    margin-top: 100px;
  }
  .voffset-xs-9 {
    margin-top: 150px;
  }
  .voffset-xs-10 {
    margin-top: 150px;
  }
  .voffset-xs-11 {
    margin-top: 180px;
  }
  .voffset-xs-12 {
    margin-top: 200px;
  }
}
@media (min-height: 700px) {
  .voffset-md-1 {
    margin-top: 5px;
  }
  .voffset-md-2 {
    margin-top: 10px;
  }
  .voffset-md-3 {
    margin-top: 15px;
  }
  .voffset-md-4 {
    margin-top: 30px;
  }
  .voffset-md-5 {
    margin-top: 40px;
  }
  .voffset-md-6 {
    margin-top: 60px;
  }
  .voffset-md-7 {
    margin-top: 80px;
  }
  .voffset-md-8 {
    margin-top: 100px;
  }
  .voffset-md-9 {
    margin-top: 125px;
  }
  .voffset-md-10 {
    margin-top: 150px;
  }
  .voffset-md-11 {
    margin-top: 180px;
  }
  .voffset-md-12 {
    margin-top: 200px;
  }
}
.voffset {
  margin-top: 2px;
}
.voffset-1 {
  margin-top: 5px;
}
.voffset-2 {
  margin-top: 10px;
}
.voffset-3 {
  margin-top: 15px;
}
.voffset-4 {
  margin-top: 30px;
}
.voffset-5 {
  margin-top: 40px;
}
.voffset-6 {
  margin-top: 60px;
}
.voffset-7 {
  margin-top: 80px;
}
.voffset-8 {
  margin-top: 100px;
}
.voffset-9 {
  margin-top: 150px;
}
.padding-left-1 {
  padding-left: 15px;
}
.row {
  line-height: 3;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
