 <div class="container">

	<!-- row 1 -->
	<div class="row" style="background-color: yellow">

	<!-- col 1.1 -->
	<div class="col-md-2 col-md-push-4 col-xs-12" style="background-color: orange">
		<!-- row 1.1.1 -->
		<div class="row">
			<!-- col 1.1.1.1 -->
			<div class="col-md-7 col-xs-4" style="background-color: blue"> col 1.1.1.1 </div>
		</div>
	</div>

	<!-- col 1.2 -->
	<div class="col-md-4 col-md-pull-1 col-xs-6" style="background-color: grey">col 1.2</div>

	<!-- col 1.3 -->
	<div class="col-md-4 col-xs-4" style="background-color: purple">col 1.3 Resize your viewport or check it out on your phone for an example.</div>
	</div>

	<!-- row 2 -->
	<div class="row" style="background-color: red">row 2</div>

	<!-- div 3 -->
	<div style="background-color: green">div 3</div>
</div>
