<div>
  <!-- Input and Add Button -->
  <div class="row voffset-md-12 voffset-xs-4">
    <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 voffset-2">
      <input type="text" class="form-control" placeholder="What to do?" ng-model="todoItem" on-enter="addTodo(todoItem)" />
    </div>
    <div class="col-md-2 col-md-offset-0 col-xs-10 col-xs-offset-1 voffset-1">
      <button type="button" class="btn btn-primary" ng-click="addTodo(todoItem)">Add</button>
    </div>
  </div>
  <br/>
  <div ng-repeat="item in todo track by $index">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" >
        <p style="background-color: grey" class="padding-left-1"> {{item}}  </p>
      </div>
    </div>
  </div> <!-- End ngReapeat -->
  <!-- {{foo}} -->
</div>